body{
	font: 16px/28px times new roman, sans-serif;
	background-color: lightpink;
	color: black;
	background-image: url(penguin.jpeg);
}

.container{
	width: 800px;
	margin: auto;
	background-color: red;
}

.header{
	padding: 20px;
	padding-bottom: 10px;
}

.header .judul{
	font-size: 40px;
	font-weight: bold;
}

.header ul li{
	display: inline-block;
	margin-top: -30px;
	margin-right: 10px;
}

.header a{
	text-decoration: none;
	color; black;
	padding: 3px
}

.header a:hover{
	background-color: lightskyblue;
	color: white;
}

.hero{
	height: 280px;
	background-image: url(newucapan.jpeg);
	background-size: cover;
	background-position: 0 -100px;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

.content{
	padding: 20px;
}

.content h2{
	font-size: 28px;
	font-weight: bold;  

}

.content .penulis{
	font-size: 15px;
	margin-top: -20px;
}

.content .penulis a{
color: black;
}

.content p{
	margin-bottom: 20px;
	font-size: 20px;
}

.footer{
	background-color: lightpink;
	padding: 10px;
}

.footer .copy{
	color: black;
	text-align: center;
	font-size: 15px;
}

.btn{
text-decoration: none;
padding: 5px 10px;
background-color: lightpink;
color: white;
border: 1px solid lightpink;
}